body { 
       background-color: #9cf;
       color: #006;
       font-family: Georgia, "Times New Roman", serif;
}
#head {
		 text-align: center;
		 font-size: 1.5em;
}
a {
	    padding: 10px 20px;
		 font-size: 1.2em;
}
.nav li {
		 display: inline;
		 list-style-type: none;
		 padding-left: 43px;
}
#wrapper {
		 margin-left: auto;
		 margin-right: auto;
		 width: 900px;
}
.footer {
	    font-size: .60em;
		 font-style: italic;
		 text-align: center;
                 padding-top: 700px;
}
#platter {
            padding-left: 50px;
}
#hamburger1 {
            padding-bottom: 20px;
}
#hamburger2 {
            padding-bottom: 20px;
}
h3 {
    float: right;
    padding-left: 30px;
    padding-top: 60px;
}
#column1 {
    float: right;
}
#column2 {
    float: left;
}
#column3 {
    float: right;
}
#c1 {
    float: left;
}
#c2 {
    float: right;
}
#c3 {
    float: left;
}
#of1 {
    float: left;
}
#of2 {
    float: right;
}
#ff {
            padding-bottom: 20px;
}
#ff2 {
            padding-bottom: 20px;
}
#milkshakes {
            padding-bottom: 20px;
}
#pickles {
            padding-bottom: 20px;
}
}
#ulist {
	    margin-left:auto;
		 margin-right: auto;
		 width: 900px;
}
fieldset {
	    border-collapse: collapse;
		 border: none;
}
label {
       display: block;
       float: left;
       font-size: 1.2em;
       margin-right: .5em;
       text-align: right;
       width: 12em;
}
#rlist {
       font-size: 1.2em;
       margin-right: .5em;
       text-align: right;
       width: 12em;
}
#employment, #general, #critique {
	    text-align: left;
		 margin-left: 240px; 
}
#submitd {
	   text-align: center; 
}
#email, #number, #name {
	   width: 300px;
}