body { 
       background-color: #9cf;
       color: #006;
       font-family: Georgia, "Times New Roman", serif;
}
#head {
		 text-align: center;
		 font-size: 1.5em;
}
a {
	    padding: 10px 20px;
		 font-size: 1.2em;
}

nav form {
    display: inline;
    margin: 5px;
}
#nav {
    text-align: center;
}
#wrapper {
		 margin-left: auto;
		 margin-right: auto;
		 width: 900px;
         padding: 10px;
         clear: both;
         border-radius: 25px;
         background: #fc6;
}
h2 {
         clear: both;
         border-radius: 25px;
         background: #9cf;
}
.footer {
	    font-size: .60em;
		 font-style: italic;
		 text-align: center;
                 padding: 10px;
                 clear: both;
                 border-radius: 25px;
                 background: #fc6;
}
.ftr {
	    font-size: .60em;
		 font-style: italic;
		 text-align: center;
                 padding: 10px;
                 clear: both;
                 border-radius: 25px;
                 background: #fc6;
}
#platter {
            margin-left: 50px;
}
h3 {
    float: right;
    padding-left: 30px;
    padding-top: 60px;
}
#column1 {
    float: right;
}
#column2 {
    float: left;
}
#column3 {
    float: right;
}
#c1 {
    float: left;
}
#c2 {
    float: right;
}
#c3 {
    float: left;
}
#of1 {
    float: left;
}
#of2 {
    float: right;
}
#of3 {
    float: left;
}
h4 {
       font-size: 1.6em;
       font-style: italic;
       padding-left: 25px;
}
h5 {
       font-size: 1.2em;
       font-style: italic;
       padding-left: 25px;
       text-align: center;
}
#ulist {
	    margin-left:auto;
		 margin-right: auto;
		 width: 900px;
}
fieldset {
	    border-collapse: collapse;
		 border: none;
}
label {
       display: block;
       float: left;
       font-size: 1.2em;
       margin-right: .5em;
       text-align: right;
       width: 12em;
}
#rlist {
       font-size: 1.2em;
       margin-right: .5em;
       text-align: right;
       width: 12em;
}
#employment, #general, #critique {
	    text-align: left;
		 margin-left: 240px; 
}
#submitd {
	   text-align: center; 
}
#email, #number, #name {
	   width: 300px;
}
img {
    border: 1px solid #000;
}
.info {
    text-align: center;
    margin-top: -75px;
    padding-right: 210px;
    font-size: 1.6em;
}